<div>
    <div class="row">
        <div class="card col-md-3" ng-repeat="item in downloadList.items">
            <div class="card-body">
                <h4 class="card-title">{{ item.FileName }}</h4>
                <p class="card-text">
                    File Type: {{item.FileType}}<br />
                    Created: {{ item.CreateTime}}<br />
                    File Size: {{ item.FileSize | filesize }}
                </p>
                <a href="/{{item.FilePath}}" class="btn btn-primary" download>Download {{item.FilePath.name}}</a>
            </div>
        </div>
        <div class="col-md-12 text-center mt-1">
            <button class="btn btn-success center-block" type="submit" ng-click="downloadList.logout()">Logout</button>
        </div>
    </div>
</div>