<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a8771abb-d67d-4859-a66b-b1025e11afdc/resourcegroups/DownloadApp/providers/Microsoft.Web/sites/DownloadApp20191003115210</ResourceId>
    <ResourceGroup>DownloadApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://downloadapp20191003115210.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>downloadapp20191003115210.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DownloadApp20191003115210</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DownloadApp20191003115210</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DownloadDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:downloadapp20191003115210dbserver.database.windows.net,1433;Initial Catalog=DownloadApp20191003115210_db;User ID=zeyu.li@downloadapp20191003115210dbserver;Password=Zerry1996li," Name="Data Source=tcp:downloadapp20191003115210dbserver.database.windows.net,1433;Initial Catalog=DownloadApp20191003115210_db;User Id=zeyu.li@downloadapp20191003115210dbserver;Password=Zerry1996li," />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DownloadApp.Models.DownloadDBContext, DownloadApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DownloadDBContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DownloadDataModel.csdl|res://*/Models.DownloadDataModel.ssdl|res://*/Models.DownloadDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:downloadapp20191003115210dbserver.database.windows.net,1433;Initial Catalog=DownloadApp20191003115210_db;User Id=zeyu.li@downloadapp20191003115210dbserver;Password=Zerry1996li,"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>