<div class="jumbotron">
    <h1>Simple Download App</h1>
    <p class="lead">This is a simple download web application using sql server, Asp.net Web API and AngularJS</p>
    <hr class="my-4">
    <p>Asp.net retrieves download details from SQL server and provide API to the front end, front-end uses AngularJS to process the API and display details of downloadable contents to user</p>
</div>
<div ui-view></div>